@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@100&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
h1 {
  font-family: "Bree Serif", serif;
  font-size: 2.7rem;
  font-weight: 700;
  color: #3c096c;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  /* font-weight: 400; */
  letter-spacing: 1px;
}

/* section1 */
.section1 {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4ece2;
}

/* section-1 div-1 */
.section1div1 {
  position: relative;
  background-color: #05b5a1;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1div1 h1 {
  color: white;
}

/* section-1 div-2 */
.section1div2 {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
}
/* bottombg */

/* span */
.section1right {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  left: 2%;
}
.profileimg {
  position: relative;
  width: 422px;
  height: 422px;
  /* border-radius: 50%; */
  border: 8px solid #ffffff;
  transform: translate(0%, -20%);
  left: 11%;
}
.section1left {
  position: relative;
  width: 60%;
  height: 100%;
}
.section1leftspan {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* name */
.name {
  letter-spacing: 2px;
}

.name span {
  font-size: 2.7rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.aboutname,
.anchcor,
.name {
  margin-bottom: 5%;
  text-align: justify;
}
/* button */
.anchcor {
  position: relative;
  text-decoration: none;
  border: 2px solid #f24e70;
  padding: 5px;
  transition: all 0.5s;
  overflow: hidden;
  padding: 10px;
}

.anchcor::before {
  content: "Read More";
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f24e70;
  top: 100%;
  right: 100%;
  transform: rotate(45deg) translate(0%, -50%);
  transition: all 1s;
}

.anchcor::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 50%;
  background: rgb(255, 255, 255, 0.5);
  top: 100%;
  left: 100%;
  transform: rotate(-45deg) translate(0%, -50%);
  transition-duration: 0.1s;
  /* transition-delay: 1s; */
}

.anchcor:hover {
  border: 2px solid #f24e70;
  cursor: pointer;
}

.anchcor:hover::after {
  top: 46%;
  left: -149%;
  transition-duration: 1.7s;
  transition-delay: 0.7s;
}

.anchcor:hover::before {
  top: 0%;
  right: 0%;
  transform: rotate(0deg) translate(0%, 0%);
  transition: all 1s;
}

/* section-2 */
.section2 {
  position: relative;
  background: #f4ece2;
  width: 100%;
  height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* section-2 top */
.section2div1 {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  width: 100%;
  height: 30%;
  background: #f4ece2;
  bottom: 0;
  z-index: 0;
}
/* topleft */
.section2left {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}
.section2left img {
  position: relative;
  width: 75%;
  height: 55%;
}
/* topright */
.section2right {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section2right p {
  position: relative;
  width: 75%;
  text-align: justify;
}

.section2right img {
  top: 0;
  position: relative;
  width: 80%;
  height: 65%;
}

/* section-2 bottom */
.section2div2 {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* botom top part */
.worktop {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worktopleft {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: end;
}

.workby {
  position: relative;
  width: 40%;
  font-size: 6rem;
  margin-right: 6%;
}

.worktopright {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.worktopright p {
  position: relative;
  width: 50%;
  text-align: justify;
  font-size: 1.2rem;
  margin: 0 0 2% 2%;
}

.worktopright a {
  margin-left: 2%;
}

.line {
  position: absolute;
  width: 80%;
  height: 2px;
  background: #5a35de;
  bottom: 0%;
}

/* bottom bottom part */
.workbottom {
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3 {
  position: relative;
  width: 100%;
  height: 130vh;
  background: #f4ece2;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "grid1 grid2 grid3"
    "grid4 grid5 grid6"
    "grid7 grid8 grid9";
}

.grid1 {
  grid-area: grid1;
  background: url("../image/grid/3d-lion-logo-mockup_145275-144.jpg")
    center/cover no-repeat;
}

.grid2 {
  grid-area: grid2;
  background: url("../image/grid/abstract-mock-up-logo-shopping-bag_23-2148834294.jpg")
    center/cover no-repeat;
}

.grid3 {
  grid-area: grid3;
  background: url("../image/grid/black-white-business-card-mockup-design_47987-2181.jpg")
    center/cover no-repeat;
}

.grid4 {
  grid-area: grid4;
  background: url("../image/grid/logo-mockup-black-facade-sign_145275-281.jpg")
    center/cover no-repeat;
}

.grid5 {
  grid-area: grid5;
  background: url("../image/grid/logo-mockup-luxury-black-facade-sign_145275-288.jpg")
    center/cover no-repeat;
}

.grid6 {
  grid-area: grid6;
  background: url("../image/grid/mock-up-logo-design-business-white-paper_23-2148834253.jpg")
    center/cover no-repeat;
}

.grid7 {
  grid-area: grid7;
  background: url("../image/grid/mockup-with-gold-logo_136295-386.jpg")
    center/cover no-repeat;
}

.grid8 {
  grid-area: grid8;
  background: url("../image/grid/rounded-corner-business-cards-mockup_358694-108.jpg")
    center/cover no-repeat;
}

.grid9 {
  grid-area: grid9;
  background: url("../image/grid/rr.jpg") center/cover no-repeat;
}

.section4 {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background: #f4ece2;
}

.section4left {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section4left p {
  width: 70%;
  text-align: right;
  margin: 4% 0 0% 0%;
}

.section4right {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section4right p {
  width: 70%;
  text-align: left;
  margin: 4% 0 0% 0%;
}

/* button */
.anchcor2 {
  position: relative;
  text-decoration: none;
  border: 2px solid #5a35de;
  padding: 5px;
  transition: all 0.5s;
  overflow: hidden;
  padding: 10px;
}

.anchcor2::before {
  content: "Contact Me";
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5a35de;
  top: 100%;
  right: 100%;
  transform: rotate(45deg) translate(0%, -50%);
  transition: all 1s;
}

.anchcor2::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 50%;
  background: rgb(255, 255, 255, 0.5);
  top: 100%;
  left: 100%;
  transform: rotate(-45deg) translate(0%, -50%);
  transition-duration: 0.1s;
  /* transition-delay: 1s; */
}

.anchcor2:hover {
  border: 2px solid #5a35de;
  cursor: pointer;
}

.anchcor2:hover::after {
  top: 46%;
  left: -149%;
  transition-duration: 1.7s;
  transition-delay: 1s;
}

.anchcor2:hover::before {
  top: 0%;
  right: 0%;
  transform: rotate(0deg) translate(0%, 0%);
  transition: all 1s;
}

.section4right .anchcor2 {
  margin-top: 4%;
}

@media (max-width: 1300px) {
  .workby {
    width: 50%;
  }
}

@media (max-width: 1235px) {
  .section1leftspan {
    width: 100%;
  }
  .section1leftspan p {
    width: 80%;
  }
}

@media (max-width: 1235px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "grid1 grid2"
      "grid3 grid4"
      "grid5 grid6"
      "grid7 grid8";
    grid-auto-columns: 0fr;
  }
}

@media (max-width: 1065px) {
  .section1 {
    height: 125vh;
  }
  .section1left {
    width: 100%;
  }
  .section1div2 {
    flex-direction: column;
  }
  .workby {
    width: 60%;
  }
  .section2div1 {
    flex-direction: column;
  }
  .section2left {
    width: 100%;
    height: 20%;
  }
  .section2left img {
    display: none;
  }
  .section2right {
    width: 100%;
    height: 80%;
  }
  .section2right img {
    width: 50%;
    height: 60%;
  }
}

@media (max-width: 881px) {
  .workby {
    width: 100%;
  }
  .worktopright p {
    width: 80%;
  }
  .section2right img {
    width: 75%;
  }
}
@media (max-width: 881px) {
  .workby {
    font-size: 5rem;
  }
  .section4 {
    flex-direction: column;
  }
  .section4left {
    width: 100%;
    height: fit-content;
  }
  .section4right {
    width: 100%;
    height: fit-content;
  }
}
@media (max-width: 605px) {
  .worktop {
    flex-direction: column;
  }
  .worktopright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .worktopleft {
    width: 100%;
    text-align: center;
  }
  .section1 {
    height: 122vh;
  }
}

@media (max-width: 550px) {
  .profileimg {
    height: 380px;
    width: 380px;
  }
  .section2right img {
    height: 50%;
  }
  .workby {
    font-size: 4rem;
    margin: 2px;
  }
  .workbottom h1 {
    font-size: 2.5rem;
  }
  .section4 {
    height: 80vh;
  }
  .section1div1 h1 {
    font-size: 2.5rem;
    display: none;
  }
}

@media (max-width: 510px) {
  .profileimg {
    height: 280px;
    width: 280px;
  }
  .name {
    font-size: 2.3rem;
  }
  .name span {
    font-size: 2.3rem;
  }
  .workbottom h1 {
    font-size: 2rem;
  }
  .workby {
    font-size: 3.5rem;
  }
  .section4left h1,
  .section4right h1 {
    font-size: 2.3rem;
    margin-top: 4%;
  }
  .section2right img {
    height: 40%;
  }
  .section2left h1 {
    text-align: center;
  }
  .section2 {
    height: 200vh;
  }
}

@media (max-width: 480px) {
  .section3 {
    height: 345vh;
  }
  .container {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-areas:
      "grid1"
      "grid2"
      "grid3"
      "grid4"
      "grid5"
      "grid6"
      "grid7"
      "grid8"
      "grid9";
    grid-auto-rows: 1fr;
  }
  .section4 {
    height: 90vh;
  }
}

@media (max-width: 400px) {
  .name {
    font-size: 2rem;
  }
  .name span {
    font-size: 2rem;
  }
  .workbottom h1 {
    font-size: 1.7rem;
  }
  .section4 {
    height: 100vh;
  }
}
